.loading{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: #333;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 10000;
}

/* 페이지가 새로 들어올 때 */
.fade-enter {
    opacity: 0;
    transform: translateY(50px); 
}

.fade-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 800ms, transform 800ms;
}

  /* 페이지가 나갈 때 */
.fade-exit {
    opacity: 1;
    transform: translateY(0);
}

.fade-exit-active {
    opacity: 0;
    transform: translateY(50px); 
    transition: opacity 800ms, transform 800ms;
}
